:root {
    --clrprimary: #fff;
    --clrsecondary: #7B0003;
    --fontprimary: 'Heavy Weight Gamer', sans-serif;
    --fontsecondary: 'Pixelony', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh; /*Imposta l'altezza del body al 100% dell'altezza del viewport*/
    overflow: hidden;
}

/* DIV in which you start */
#startcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(images/fire.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#startbutton {
    background-color: var(--clrsecondary);
    height: 80px;
    min-width: 230px;
    padding: 5px;
    border: none;
    outline: none;
    font-family: 'Play This Game', sans-serif;
    font-weight: 250px;
    font-size: 40px;
    color: var(--clrprimary);
    border-radius: 5px;
    box-shadow: 6px 5px 0px var(--clrprimary);
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(-1%, -3%);
  }

#startbutton:hover {
    background-color: black;
    box-shadow: 3px 3px 1px;
    transform: translate(-1%, -1%);
    transition: all 0.2s ease-in;
}

#startbutton:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}

/*Includes the main divs: 'header', 'game' and 'footer'*/
#endcontainer {
    height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
}

/* title of the game */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clrsecondary);
    width: 100%;
    height: 20%;
    height: 20%;
}
  
#title {
    font-size: 40px;
    color: var(--clrprimary);
    font-family: var(--fontprimary);
    letter-spacing: 10px;
}

/* console game */
.game {
    background-image: url(images/background-fixed.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 30px;
    gap: 35px;
}

/* main Div 'player' and 'computer' */
#player,
#computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 'player:' & 'computer:' */
#move {
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    font-family: var(--fontprimary);
    font-size: 45px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

/*primary Div img + btns*/
.div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; /*spazio tra i riquadri '.btns'*/
}

/*secondary div img + btns */
.btns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /*spazio tra img e btn*/
}

/*Individual RPS button */
.button3 {
    font-family: var(--fontsecondary);
    color: var(--clrprimary);
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    text-transform:  uppercase;
    background-color: #333;
    cursor: pointer;
    border-radius: 10px;
    width: 85%;
    height: 45px;
}

/*Result display */
.result {
    width: 140%;
    color: var(--clrprimary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.play-again {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play-again {
    width: 120%;
    height: 45px;
    font-family: var(--fontsecondary);
    font-size: 15px;
    letter-spacing: 1.5px;
    color: black;
    background-color: var(--clrprimary);
    border: 4px solid var(--clrsecondary);
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 5px 4px 0px black;
}

/* Score display */
#scoreD {
    font-family: 'MALDINI', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 10px;
}

/*0 - 0*/
#score { 
    font-size: 75px;
    margin-bottom: 25px;
}

footer {
    width: 100%;
    height: 10%;
    font-family: var(--fontsecondary);
    font-size: 20px;
    background-color: #22161E;
    color: var(--clrprimary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a {
    color: var(--clrprimary);
}

/* ---------------------------------------------------------------------------------------------------- */
/*small screens*/
@media only screen and (max-width: 800px) {

    #title {
        font-size: 25px;
        text-align: center;
    }

    .game {
        padding: 10px;
        gap: 0;
    }

    #move {
        width: 100%;
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .div {
        width: 30%;
        flex-direction: column;
        gap: 15px;
    }

    .btns {
        gap: 10px;
    }

    .button3 {
        font-size: 10px;
        width: 200%;
        height: 35px;
    }

    .result {
        width: 200%;
    }

    #play-again {
        width: 120%;
        height: 45px;
        font-size: 15px;
    }
    #scoreD {
        width: 100%;
        font-size: 15px;
        padding: 5px;
    }

    #score { 
        width: 100%;
        font-size: 40px;
        margin-bottom: 15px;
    }

    footer {
        font-size: 15px;
        gap: 5px;
    }
}

/* @media only screen and (max-width: 900px) {
    body { // fa in modo che la finestra non possa ridursi al di sotto di 900px di larghezza
        min-width: 900px;
        overflow-x: hidden;
    }
} */
